.carouselContainer {
  width: 100%;
  height: 260px;
  background: tan;
  margin-top: 55px;
}

h1 {
  color: rgb(8, 141, 8);
  z-index: 1;
}


@media screen and (max-width: 590px) {
  .carouselContainer {
    margin-top: 0px;
  }
}